.content {
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    padding: 1.5rem;
    border-width: 0.2rem;
    border: solid #f8f9fa;
    position: relative;
    margin: 1rem 1rem;
    min-width: 45vw;

    &__form-group {
      margin-bottom: 1rem;

      &--label {
        display: inline-block;
        margin-bottom: 0.5rem;
      }

      &--generateBtn {
        appearance: none;
        background-color: #fafbfc;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
          rgba(255, 255, 255, 0.25) 0 1px 0 inset;
        box-sizing: border-box;
        color: #24292e;
        cursor: pointer;
        display: block;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        list-style: none;
        padding: 6px 16px;
        position: relative;
        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        word-wrap: break-word;
        margin-bottom: 0.25rem;
        float: right;

        &:hover {
          background-color: #f3f4f6;
          text-decoration: none;
          transition-duration: 0.1s;
        }

        &:disabled {
          background-color: #fafbfc;
          border-color: rgba(27, 31, 35, 0.15);
          color: #959da5;
          cursor: default;
        }

        &:active {
          background-color: #edeff2;
          box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
          transition: none 0s;
        }

        &:focus {
          outline: 1px transparent;
        }

        &:before {
          display: none;
        }

        &:-webkit-details-marker {
          display: none;
        }
      }

      &--form-control {
        display: block;
        width: -webkit-fill-available;
        height: calc(1em + 0.75rem);
        padding: 0.375rem 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        width: 100%;
        outline: none;
        text-indent: 10px;
      }
    }

    &__list-group {
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      height: 65vh;
      &--item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
      }
    }
  }
}
