<div class="content" role="main">
  <div class="content__card">
    <div class="content__card__form-group">
      <label class="content__card__form-group--label" for="search-text">Test App</label>
      <button class="content__card__form-group--generateBtn" (click)="generateList()">
        Generate List
      </button>
      <input
        class="content__card__form-group--form-control"
        id="search-text"
        aria-describedby="search-text"
        [(ngModel)]="searchText"
        placeholder="Enter text to search"
        autofocus
      />
    </div>
    <cdk-virtual-scroll-viewport
      itemSize="166"
      class="content__card__list-group"
    >
      <div
        id="task-item-list"
        class="content__card__list-group--item"
        *cdkVirtualFor="let item of taskItemList | taskItemFilter : searchText"
      >
        <app-task-item [item]="item" [searchText]="searchText"></app-task-item>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
