<div class="taskItem">
  <div class="taskItem__content-image">
    <img class="taskItem__content-image--image" [src]="item.photo()" appMissingImageHandle />
  </div>

  <div class="taskItem__content-desc" taskItemHighlight [searchedWord]="searchText" [content]="item.text()">
      {{ item.text() }}
  </div>
</div>
