.taskItem{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  min-height: 10.4rem;

  &__content-image{
    flex: 1 1 100%;
    min-width: 20%;
    max-width: 20%;


    &--image {
      width: 100%;
      max-width: 160px;
      height: auto;
      border-radius: 4px;
    }
  }

  &__content-desc{
    flex: 1 1 100%;
    min-width: 80%;
    max-width: 80%;
    padding-left: 2%;
    padding-right: 2%;
  }
}
